<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" type="image/x-icon" href="../static/images/mmf_white_logo-nobg_FAV.ico">
    <link rel="shortcut icon" href="../static/images/mmf_white_logo-nobg_FAV.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../static/images/mmf_white_logo-nobg_FAV.ico" type="image/x-icon">

    <script defer src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <title>Mad Maple Farm - About</title>
    <style>

    </style>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ELH3KHPPG0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ELH3KHPPG0');
</script>

<body>

    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="./index.html">
        <img src="../static/images/mmf_black_logo-nobg.png" height="225" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse justify-content-end" id="navbarToggler">
          <div class="navbar-nav">
              <a class="nav-link active" href="../index.html">Home</a>
              <a class="nav-link active" href="../templates/services.html">Services</a>
              <a class="nav-link active" href="../templates/farm.html">Farm</a>
              <a class="nav-link active" href="../templates/gallery.html">Gallery</a>
              <a class="nav-link active" href="../templates/about.html">About</a>
          </div>
      </div>
    </nav>


    <div class="container-fluid">

      <div class="container">
        <!-- Content here -->

        <div class="row">
            <div class="col">
                <div class="card border-white">
                    <div class="card-body">
                        <p class="h2 welcome_title">About our Team</p>
                        <hr class="solid">
                    </div>
                </div>
            </div>
        </div>

              <div class="row">
                <div class="col">
                <div class="card border-0">
                    <div class="card-body">
                    <p>
                    Mad Maple Farm is proudly owned and operated by Alexandra Hird and August Torsilieri. As the culmination of several
                    successful equestrian ventures—Torsilieri Show Stables and Veritas Farms—Mad Maple Farm provides a comprehensive
                    platform that meets the diverse needs of our students and clients. As a family-owned business, our roots run deep in the
                    horse industry. We have dedicated our lives to the care, training, and success of horses and riders. Our attention to
                    detail forms the foundation of our premier show barn, which offers top-tier services to both advanced riders and those
                    developing their skills.
                    </p>
                    <p>
                      Join our community and experience the unparalleled expertise and dedication that define our family business.
                      Whether you are an experienced competitor or just beginning your journey in the hunter-jumper world, we are here
                      to support and guide you every step of the way.
                    </p>
                    <p>
                      Please contact us for any interest in joining our community of equestrians or if you have any questions about sales,
                      leases, or simply want to talk shop! We are pleased to be a part of the broader horse world and interested to work
                      with our clients and students to expand and grow the sport.
                    </p>
                    </div>
                </div>
            </div>
        </div>

    <div class="row">
      <div class="col">
        <div class="card">
          <img src="../static/images/land_gus_bio.jpg" class="card-img-top" alt="land_gus_bio">
          <div class="card-body">
            <h5 class="card-title">August C. Torsilieri</h5>
            <h6 class="card-subtitle mb-2 text-muted">Co-Founder and Head Trainer</h6>
            <h6 class="card-subtitle mb-2 text-muted">Head of Operations, Sales and Services</h6>
            <p class="card-text">
              <p>August ‘Gus’ Torsilieri began riding at his family farm at a young
              age. Growing up to a non “horsey” family he began his education
              with the US Pony club. After attaining an A rating he began a
              tutelage with Jean Paul Murat.
              <p>

              </p>
              Opening his own stables at 18, August focused on retraining
              problem horses and breaking in young stock. Over the
              years August grew his business, Torsilieri Show Stables, to a 30+
              horse training business in Pittstown NJ.
              Throughout his career he recieved training and mentorship by top
              professionals such as Devin Ryan, Nona Garson, Anne Kursinski
              and Stephan Cheret.
              <p>

              </p>
              August’s personal riding career has taken him to the FEI 3* levels
              on Samy du Reverdy, breaking into the top 100 on the Rolex
              Ranking list, winning numerous grand prix classes and open
              ranking classes. Young horse production has always been a
              passion of August’s and has produced many young horses to the
              national finals and developed and sold them on to great results.
              In addition, his students have been seen in the high amateur
              classes, U25 classes and junior jumper ranks.
            <p>

            </p>
              When not riding and training, August enjoys cooking, golf and
              mowing his yard.
            </p>                     
            </p>                    
            <br>
                  <div class="row">
                    <div class="col-1">
                      <i class="fa fa-phone"></i> 
                    </div>
                    <div class="col-11">
                      <p><a href="tel:+19087522982">+1 (908) 752 2982</a></p>

                    </div>
                  </div>
                  <div class="row">
                      <div class="col-1">                          
                        <i class="fa fa-envelope"></i>
                      </div>
                      <div class="col-11">
                          <p><a href="mailto:augusttorsilieri@gmail.com?subject=Contact from MadMapleFarm.com">augusttorsilieri@gmail.com</a></p>  
                      </div>
                    </div>
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../static/images/land_alex_bio.jpg" class="card-img-top" alt="land_alex_bio">
          <div class="card-body">
            <h5 class="card-title">Alexandra K. Hird</h5>
            <h6 class="card-subtitle mb-2 text-muted">Co-Founder and Senior Trainer</h6>
            <h6 class="card-subtitle mb-2 text-muted">Equestrian Director</h6>
            <p class="card-text">
              <p>
                Alex's equestrian journey began near her childhood home in Phoenixville, PA, where she and her best friend spent
                their formative years riding around the local golf course and galloping through nearby trails and cornfields. She
                formalized her training under the guidance of Dawn Corrado at Valley Hill Farm in Chester Springs, PA, where she
                acquired her first horse, a 5-year-old Thoroughbred named Kodak Moment. This marked the beginning of Alex's deep love
                and respect for the Thoroughbred breed.
              </p>
              <p>
                During and after college, Alex worked and trained with Frank, Mary, and Laura Chapot at their facility in Neshanic
                Station, NJ. This invaluable experience allowed Alex to compete at major shows along the East Coast while learning the
                art of starting and developing young horses under Frank's mentorship.
              
              </p>
              <p>
                12 years later, Alex took the next step in her career and established her own business, Veritas Farms, which grew to
                encompass a diverse array of students and horses—many of whom remain with her today. Following her marriage to Gus and
                the merger of their businesses, the couple founded Mad Maple Farm.
              
              </p>
              <p>
                Throughout her career, Alex has competed in numerous prestigious classes, including FEI Grand Prix events. More
                recently, she has entered the realm of International Hunter Derbies with her Grand Prix jumper, Lord Carlino.
              </p>
              </p>
              <br>                  
              <div class="row">
                    <div class="col-1">
                      <i class="fa fa-phone"></i> 
                    </div>
                    <div class="col-11">
                      <p><a href="tel:+413154509816">+1 (315) 450 9816</a></p>

                    </div>
                  </div>
                  <div class="row">
                      <div class="col-1">                          
                        <i class="fa fa-envelope"></i>
                      </div>
                      <div class="col-11">
                          <p><a href="mailto:Akhird@gmail.com?subject=Contact from MadMapleFarm.com">Akhird@gmail.com</a></p>  
                      </div>
                    </div>
            </p>
          </div>
        </div>
      </div>
    </div>


<div class="container">
  <div class="row">
      <div class="col">
          <div class="card border-0" style="background-color: rgba(225,225,225,0.75);">
              <div class="card-body">
                  <p class="h3 welcome_title">Sponsors</p>
                  <hr class="solid">

                  <div class="row">
                    <div class="col">
                      <a href="https://north-america.cwdsellier.com/en/"><img class="img-fluid" src="../static/images/cwd-logo.png" alt="1logo"  style="width: 400px;"></a>    
                    </div>
                    <div class="col">
                      <a href="https://www.equine74.com"><img class="img-fluid" src="../static/images/Equine74_Logo.png" alt="2logo" style="width: 400px; padding-top: 75px;"></a>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col">
          <div class="card border-0">
              <div class="card-body">
                  <p class="h3 welcome_title">Partners</p>
                  <hr class="solid">

                  <div class="row">
                    <div class="col">
                      <a href="https://bemergroup.com/en_US/human-line/home"><img class="img-fluid center_photo" src="../static/images/Bemer-Logo.png" alt="logo" style="width: 400px; padding-top: 75px;"></a>
                    </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>






<div class="container">

  <div class="row">
    <div class="col">
        <div class="card border-white">
            <div class="card-body">
                <p class="h2 welcome_title">Show Schedule 2025</p>
                <hr class="solid">
            </div>
        </div>
    </div>
  </div>
  
  <p>
    Please support our team at the following events in 2025.
  </p>

  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
            style="color:black; text-decoration: none;">
            WORLD EQUESTRIAN CENTER (WEC) OCALA WINTER SPECTACULAR (Jan, Feb, Mar)
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <ul>
            <li>Winter Spectacular I 1/1-1/5: Premier Hunter/Level 6 Jumper</li><br>
            <li>Winter Spectacular II 1/7-1/12: CSI3*/Premier Hunter/Level 6 Jumper</li><br>
            <li>Winter Spectacular III 1/14-1/19: CSI4*, CSI2*/Premier Hunter/Level 6 Jumper</li><br>
            <li>Winter Spectacular IV 1/21-1/26: CSI3*/Premier Hunter/Level 6 Jumper</li><br>
            <li>Winter Spectacular V 1/28-2/2: CSI4*, CSI2*/Premier Hunter/Level 6 Jumper/WCHR</li><br>
            <li>Winter Spectacular VI 2/4-2/9: CSI4*, CSI2*/Premier Hunter/Level 6 Jumper – WEC Premier</li>
            <li>Equitation Cup Championship on February 8</li><br>
            <li>Winter Spectacular VII 2/11-2/16: Longines FEI Jumping World Cup™ Qualifier CSI5*-W /</li>
            <li>Premier Hunter/Level 6 Jumper</li><br>
            <li>Winter Spectacular VIII 2/18-2/23: CSI4*, CSI2*/Premier Hunter/Level 6 Jumper</li><br>
            <li>Winter Spectacular IX 2/25-3/2: CSI4*, CSI2*/Premier Hunter/Level 6 Jumper/WCHR</li><br>
            <li>Winter Spectacular X 3/4-3/9: CSI3*/Premier Hunter/Level 6 Jumper</li><br>
            <li>Winter Spectacular XI 3/12-3/16: Premier Hunter/Level 6 Jumper</li><br>
            <li>Winter Spectacular XII 3/18-3/23: CSIO5* Longines League of Nations™, CSI2*/Premier</li>
            <li>Hunter/Level 6 Jumper</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"  style="color:black; text-decoration: none">
            HITS OCALA WINTER CLASSIC IV (Feb)
          </button>
        </h2>
      </div><div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <ul>
            <li>February 4-9</li>
          </ul>
        </div>
      </div>
      </div>



      <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"  style="color:black; text-decoration: none">
            HITS OCALA WINTER CELEBRATION IX (Mar)
          </button>
        </h2>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
          <ul>
            <li>March 11-16</li>
          </ul>
        </div>
        </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFive">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"
                style="color:black; text-decoration: none">
                TRYON INTERNATIONAL EQUESTRIAN CENTER (May)
              </button>
            </h2>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body">
        
              <ul>
                <li>Spring 2 National/ Level 4 May 7-11</li><br>
                <li>EE Spring 3 Premier/ Level 4 May 14-18</li><br>
                <li>Spring 4 Premier/ Level 5 CSI 2*May 21-25</li><br>
              </ul>
        
            </div>
          </div>
        </div>
    <div class="card">
      <div class="card-header" id="headingSix">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix"  style="color:black; text-decoration: none">
            WORLD EQUESTRIAN CENTER (WEC) SUMMER SERIES (Jun, Jul, Aug)
          </button>
        </h2>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
        <div class="card-body">
          <ul>
            <li>June 4- August 11, 2025</li>
          </ul>
        </div>
      </div>
    </div>

    
  </div>
  
</div>




  </div>
        </div>

        <div class="container-fluid" style="height: 50px; background-color: rgb(50, 140, 50);">

        </div>
    
        <nav class="navbar-expand-lg navbar-dark bg-dark">
            
            <div class="navbar navbar-expand-lg navbar-collapse collapse navbar-dark bg-dark" id="navbarToggleExternalContent" >
                <div class="navbar-nav d-lg-none d-xl-none">
                    <a class="nav-link active" href="../index.html">Home</a>
                    <a class="nav-link active" href="../templates/services.html">Services</a>
                    <a class="nav-link active" href="../templates/farm.html">Farm</a>
                    <a class="nav-link active" href="../templates/gallery.html">Gallery</a>
                    <a class="nav-link active" href="../templates/about.html">About</a>
                </div>
            </div>
        </nav>
    
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="../index.html">
                    <img src="../static/images/mmf_white_logo-nobg.png" height="225" alt="logo">
                </a>
    
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
    
    <div class="container-fluid justify-content-end">
              <div class="d-none d-lg-block d-xl-block">
                <div class="navbar-nav">
                    <a class="nav-link active" href="../index.html">Home</a>
                    <a class="nav-link active" href="../templates/services.html">Services</a>
                    <a class="nav-link active" href="../templates/farm.html">Farm</a>
                    <a class="nav-link active" href="../templates/gallery.html">Gallery</a>
                    <a class="nav-link active" href="../templates/about.html">About</a>
                </div>
              </div>
            </div>
            </nav>
    
    
    <div class="container-fluid bg-dark">
        
            <div class="row">
                <div class="col">
                        <a href="https://www.facebook.com/people/Mad-Maple-Farm/61571136959001/"><img src="../static/images/FB.avif" alt="logo" style=" margin: 0px 5px 10px;"></a>
                        <a href="https://www.instagram.com/madmaplefarm/"><img src="../static/images/INSTA.avif" alt="logo" style="margin-bottom: 10px;"></a>
                        <a href="mailto:Akhird@gmail.com?subject=Feedback from MadMapleFarm.com"><i class="fa fa-envelope" style="font-size:28px; color:white; margin-left: 10px;"></i></a>
                </div>
            </div>  
            <div class="row">
                <div class="col">
                        <i class="fa fa-phone" style="font-size:24px; color:white; margin-left: 10px;"></i> 
                        <a href="tel:+413154509816" style="font-size:24px; color:white;">315-450-9816</a>
                </div>
            </div>
            <div class="row bg-dark d-none d-lg-block">
                <div class="col d-flex justify-content-end">
                <a href="https://github.com/goldendoggies" style="color:white;">Copyright © goldendoggies - All rights reserved 2025</a>
                </div>
            </div>
        </div>
    
    </body>
    </html>