<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" type="image/x-icon" href="../static/images/mmf_white_logo-nobg_FAV.ico">
    <link rel="shortcut icon" href="../static/images/mmf_white_logo-nobg_FAV.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../static/images/mmf_white_logo-nobg_FAV.ico" type="image/x-icon">

    <script defer src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <title>Mad Maple Farm - Farm</title>
    <style>

    </style>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ELH3KHPPG0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ELH3KHPPG0');
</script>

<body>

    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="./index.html">
        <img src="../static/images/mmf_black_logo-nobg.png" height="225" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse justify-content-end" id="navbarToggler">
          <div class="navbar-nav">
              <a class="nav-link active" href="../index.html">Home</a>
              <a class="nav-link active" href="../templates/services.html">Services</a>
              <a class="nav-link active" href="../templates/farm.html">Farm</a>
              <a class="nav-link active" href="../templates/gallery.html">Gallery</a>
              <a class="nav-link active" href="../templates/about.html">About</a>
          </div>
      </div>
    </nav>

    <!-- feature photo -->
    <div class="row">
      <div class="col md-auto">
      <div class="card border-0 text-white">

            <div style="position:relative; width:100%; height:0px; padding-bottom:56.250%" >
              <img class="img-fluid" src="../static/images/mmf_logo_wob_nobg.png" alt="mmf"  id="video-overlay" style="width: 25%;">
              <iframe allow="fullscreen;autoplay" allowfullscreen height="100%" src="https://streamable.com/e/te6okl?logo=0&autoplay=1&muted=1&nocontrols=1&nologo=0" width="100%" style="border:none; width:100%; height:100%; position:absolute; left:0px; top:0px; overflow:hidden;"></iframe>

          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">

      <div class="container">
        <!-- Content here -->

        <div class="row">
            <div class="col">
                <div class="card border-white">
                    <div class="card-body">
                        <p class="h2 welcome_title">Farm and Facilities</p>
                        <hr class="solid">
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col">
                <div class="card border-0">
                    <div class="card-body">
                        <p> Mad Maple Farm is just minutes away from the renowned World
                            Equestrian Center and HITS Ocala. We are an easy drive from
                            Jacksonville, Tampa and Wellington, FL. Our facility is ideally
                            situated for local and out of town customers. Our students and
                            clients come from diverse backgrounds and locations, and we
                            are committed to providing them with an exceptional experience. Whether youare an advanced rider or a newcomer to
                            the sport, we tailor our services to meet your individual
                            needs and
                            goals.
                        </p>
                        <p>
                            Mad Maple Farm is located at Wee Burn Farm in Reddick FL. We are fortunate to have access to the bucolic setting
                            and amenities offered by the farm.
                        </p>
                        <p>
                            Newly constructed, the Wee Burn Farm was developed by life long horsewoman Daryl Henning Zeigler to capture the
                            natural light, breeze and aesthetic of the rolling hills of Reddick, FL.
                            The Farm is a wonderful base for our horses, providing a relaxing
                            environment to decompress from showing and also a terrific
                            place to train.
                        </p>
                    </div>
                    </div>
                    </div>
                    </div>

        <div class="row">
            <div class="col">
                <div class="card border-0">
                    <div class="card-body">


                        <p class="h3">The Facility</p>
                        <ul>
                            <li>- A 175ft x 300ft all weather footing training arena with Martin Collins
                                fiber.
                            </li>
                            <li>- Sixteen 12ft x 12ft stalls
                            </li>
                            <li>- Six 1/2 acre paddocks with individual run in sheds and water
                            </li>
                            <li>- Four smaller paddocks with individual water
                            </li>
                            <li>- Three larger paddocks for our younger and retired horses with individual run-ins that can be closed as stalls; each with its own
                                water
                            </li>
                            <li>- Heated and cooled lounge with full bathrooms, kitchen, wifi and
                                cable. Perfect for those who work remotely.</li>
                            <li>- Individual tack lockers for each owner/ rider.</li>
                            <li>- 30 acres for hacking</li>
                            <li>- Jump Field</li>
                            <li>- Big A$$ fans above the stalls to provide air flow and cooling
                                during the summer months.</li>
                            <li>- Our facility is monitored by CCTV and completely enclosed by
                                no-climb fencing and coded gate for security and safety.</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card border-0">
                    <div class="card-body">

                      <p class="h3">Convenient Location</p>
                      <ul>
                          <li>Distance to Orlando, FL: Approximately 80 miles, about
                            a 1 hour and 20-minute drive.
                          </li><br>
                          <li>Driving Directions from Orlando to Ocala: Take I-75 S
                            and FL-91 S for the fastest route. Alternatively, you can take
                            US-441 S and SE Highway 42 for a scenic drive.
                          </li>
<br>
                          <li><p class="h6">Nearby Airports</p>
                          </li>
                          <ul>- Ocala Regional (Private- Sheltair/Net Jet)
                          </ul>
                          <ul>- Gainesville (40 min Commercial)
                        </ul>
                        <ul>- Daytona (Avelo commercial)
                        </ul>
                        <ul>- Orlando
                        </ul>
                        <ul>- Tampa
                        </ul>
                      </ul>
                      </p>
                    </div>
                </div>
            </div>
        </div>


    </div>





        </div>


        <div class="container-fluid" style="height: 50px; background-color: rgb(50, 140, 50);">

        </div>
    
        <nav class="navbar-expand-lg navbar-dark bg-dark">
            
            <div class="navbar navbar-expand-lg navbar-collapse collapse navbar-dark bg-dark" id="navbarToggleExternalContent" >
                <div class="navbar-nav d-lg-none d-xl-none">
                    <a class="nav-link active" href="../index.html">Home</a>
                    <a class="nav-link active" href="../templates/services.html">Services</a>
                    <a class="nav-link active" href="../templates/farm.html">Farm</a>
                    <a class="nav-link active" href="../templates/gallery.html">Gallery</a>
                    <a class="nav-link active" href="../templates/about.html">About</a>
                </div>
            </div>
        </nav>
    
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="../index.html">
                    <img src="../static/images/mmf_white_logo-nobg.png" height="225" alt="logo">
                </a>
    
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
    
    <div class="container-fluid justify-content-end">
              <div class="d-none d-lg-block d-xl-block">
                <div class="navbar-nav">
                    <a class="nav-link active" href="../index.html">Home</a>
                    <a class="nav-link active" href="../templates/services.html">Services</a>
                    <a class="nav-link active" href="../templates/farm.html">Farm</a>
                    <a class="nav-link active" href="../templates/gallery.html">Gallery</a>
                    <a class="nav-link active" href="../templates/about.html">About</a>
                </div>
              </div>
            </div>
            </nav>
    
    
    <div class="container-fluid bg-dark">
        
            <div class="row">
                <div class="col">
                        <a href="https://www.facebook.com/people/Mad-Maple-Farm/61571136959001/"><img src="../static/images/FB.avif" alt="logo" style=" margin: 0px 5px 10px;"></a>
                        <a href="https://www.instagram.com/madmaplefarm/"><img src="../static/images/INSTA.avif" alt="logo" style="margin-bottom: 10px;"></a>
                        <a href="mailto:Akhird@gmail.com?subject=Feedback from MadMapleFarm.com"><i class="fa fa-envelope" style="font-size:28px; color:white; margin-left: 10px;"></i></a>
                </div>
            </div>  
            <div class="row">
                <div class="col">
                        <i class="fa fa-phone" style="font-size:24px; color:white; margin-left: 10px;"></i> 
                        <a href="tel:+413154509816" style="font-size:24px; color:white;">315-450-9816</a>
                </div>
            </div>
            <div class="row bg-dark d-none d-lg-block">
                <div class="col d-flex justify-content-end">
                    <a href="../index.html" style="color:white;">Copyright © Mad Maple Farm, llc - All rights reserved 2025</a>
                </div>
            </div>
        </div>
    
    </body>
    </html>