<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" type="image/x-icon" href="../static/images/mmf_white_logo-nobg_FAV.ico">
    <link rel="shortcut icon" href="../static/images/mmf_white_logo-nobg_FAV.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../static/images/mmf_white_logo-nobg_FAV.ico" type="image/x-icon">

    <script defer src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <title>Mad Maple Farm - Gallery</title>
    <style>

    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="./index.html">
        <img src="../static/images/mmf_black_logo-nobg.png" height="225" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse justify-content-end" id="navbarToggler">
          <div class="navbar-nav">
              <a class="nav-link active" href="../index.html">Home</a>
              <a class="nav-link active" href="../templates/services.html">Services</a>
              <a class="nav-link active" href="../templates/farm.html">Farm</a>
              <a class="nav-link active" href="../templates/gallery.html">Gallery</a>
              <a class="nav-link active" href="../templates/about.html">About</a>
          </div>
      </div>
    </nav>


    <div class="container-fluid">

      <div class="container">
        <!-- Content here -->

        <div class="row">
            <div class="col">
                <div class="card border-white">
                    <div class="card-body">
                        <p class="h2 welcome_title">Showcase of Excellence</p>
                        <hr class="solid">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card border-0">
                    <div class="card-body">
                      <p>
                        Explore our gallery of stunning photos and captivating videos taken at horse shows up and down the East Coast. Our
                        collection highlights the beauty and grace of our horses, the excitement of the competition, and the pride of winning
                        ribbons, awards, and accolades.
                      </p>
                      <p>
                        Join us in celebrating the success and hard work of our equestrian team. Our gallery is a testament to the passion and
                        commitment that drives us to excel in the world of horse shows. We aim to provide a strong an supportive community for 
                        our riders, clients and their families by hosting a variety of social events.
                      </p>
                    </div>
                </div>
            </div>
        </div>

<div class="container">

  <div class="row">
    <div class="col">
        <div class="card border-white">
            <div class="card-body">
                <p class="h4 welcome_title">Videos</p>
                <hr class="solid">
            </div>
        </div>
    </div>
</div>


<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">

    <iframe 
    class="w-100 shadow-1-strong rounded mb-4"
    src="https://www.youtube.com/embed/NKSHVznMIIE?si=dbT1VJXGCc9xKP6O?modestbranding=1" 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share;" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen ></iframe>
    <figcaption class="figure-caption">A caption for the above video.</figcaption>


    <iframe 
    class="w-100 shadow-1-strong rounded mb-4"
    src="https://www.youtube.com/embed/NKSHVznMIIE?si=dbT1VJXGCc9xKP6O" 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share;" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen ></iframe>
    <figcaption class="figure-caption">A caption for the above video.</figcaption>


  </div>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    
    <iframe 
    class="w-100 shadow-1-strong rounded mb-4"
    src="https://www.youtube.com/embed/D1EbyYUbzyQ?si=qMIEkZKkXFWPJnkk" 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <figcaption class="figure-caption">A caption for the above video.</figcaption>

    <iframe 
    class="w-100 shadow-1-strong rounded mb-4"
    src="https://www.youtube.com/embed/D1EbyYUbzyQ?si=qMIEkZKkXFWPJnkk" 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <figcaption class="figure-caption">A caption for the above video.</figcaption>
    
  </div>

  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    
    <iframe
    class="w-100 shadow-1-strong rounded mb-4"
    src="https://www.youtube.com/embed/M64R94bF9mY?si=Q9thVuLkZf_4Ia58&amp;start=14" 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <figcaption class="figure-caption">A caption for the above video.</figcaption>
    
    <iframe
    class="w-100 shadow-1-strong rounded mb-4"
    src="https://www.youtube.com/embed/M64R94bF9mY?si=Q9thVuLkZf_4Ia58&amp;start=14" 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <figcaption class="figure-caption">A caption for the above video.</figcaption>
    
  </div>

</div>


</div>








      </div>
<div class="container">

  <div class="row">
    <div class="col">
        <div class="card border-white">
            <div class="card-body">
                <p class="h4 welcome_title">Photos</p>
                <hr class="solid">
            </div>
        </div>
    </div>
</div>

        <!-- https://mdbootstrap.com/docs/standard/extended/gallery/ -->
      <!-- Gallery -->
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <img
            src="../static/images/land_alex_gus_award.jpeg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="land_alex_gus_award"
          />

          <img
            src="../static/images/port_boarding.jpeg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="port_boarding"
          />

          <img
          src="../static/images/land_alex_gus_cute.jpeg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="land_alex_gus_cute"
        />

        <img
          src="../static/images/port_bagel.jpeg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="port_bagel"
        />

        </div>




        <div class="col-lg-4 mb-4 mb-lg-0">
          <img
            src="../static/images/port_horse_tounge.jpeg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="port_horse_tounge"
          />

          <img
            src="../static/images/land_king_jump.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="land_king_jump"
          />

          <img
          src="../static/images/port_farmdog_lazing.jpeg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="port_farmdog_lazing"
        />

        <img
          src="../static/images/land_horse_showring.jpeg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="land_king_jump"
        />

        </div>


        <div class="col-lg-4 mb-4 mb-lg-0">
          <img
            src="../static/images/land_horse_turnout.jpeg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="land_horse_turnout"
          />

          <img
            src="../static/images/port_alex_safety.jpeg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="port_alex_safety"
          />

          <img
          src="../static/images/land_farmdogs_cute.jpeg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="land_farmdogs_cute"
        />

        <img
          src="../static/images/port_farmparty_longtable.jpeg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="port_farmparty_longtable"
        />

        </div>
      </div>
      <!-- Gallery -->
      
</div>


        </div>


















        <div class="container-fluid" style="height: 50px; background-color: rgb(50, 140, 50);">

        </div>
    
        <nav class="navbar-expand-lg navbar-dark bg-dark">
            
            <div class="navbar navbar-expand-lg navbar-collapse collapse navbar-dark bg-dark" id="navbarToggleExternalContent" >
                <div class="navbar-nav d-lg-none d-xl-none">
                    <a class="nav-link active" href="../index.html">Home</a>
                    <a class="nav-link active" href="../templates/services.html">Services</a>
                    <a class="nav-link active" href="../templates/farm.html">Farm</a>
                    <a class="nav-link active" href="../templates/gallery.html">Gallery</a>
                    <a class="nav-link active" href="../templates/about.html">About</a>
                </div>
            </div>
        </nav>
    
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="../index.html">
                    <img src="../static/images/mmf_white_logo-nobg.png" height="225" alt="logo">
                </a>
    
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
    
    <div class="container-fluid justify-content-end">
              <div class="d-none d-lg-block d-xl-block">
                <div class="navbar-nav">
                    <a class="nav-link active" href="../index.html">Home</a>
                    <a class="nav-link active" href="../templates/services.html">Services</a>
                    <a class="nav-link active" href="../templates/farm.html">Farm</a>
                    <a class="nav-link active" href="../templates/gallery.html">Gallery</a>
                    <a class="nav-link active" href="../templates/about.html">About</a>
                </div>
              </div>
            </div>
            </nav>
    
    
    <div class="container-fluid bg-dark">
        
            <div class="row">
                <div class="col">
                        <a href="https://www.facebook.com/people/Mad-Maple-Farm/61571136959001/"><img src="../static/images/FB.avif" alt="logo" style=" margin: 0px 5px 10px;"></a>
                        <a href="https://www.instagram.com/madmaplefarm/"><img src="../static/images/INSTA.avif" alt="logo" style="margin-bottom: 10px;"></a>
                        <a href="mailto:Akhird@gmail.com?subject=Feedback from MadMapleFarm.com"><i class="fa fa-envelope" style="font-size:28px; color:white; margin-left: 10px;"></i></a>
                </div>
            </div>  
            <div class="row">
                <div class="col">
                        <i class="fa fa-phone" style="font-size:24px; color:white; margin-left: 10px;"></i> 
                        <a href="tel:+413154509816" style="font-size:24px; color:white;">315-450-9816</a>
                </div>
            </div>
            <div class="row bg-dark d-none d-lg-block">
                <div class="col d-flex justify-content-end">
                <a href="https://github.com/goldendoggies" style="color:white;">Copyright © goldendoggies - All rights reserved 2025</a>
                </div>
            </div>
        </div>
    
    </body>
    </html>