<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <title>Mad Maple Farm - Home</title>
    <style>

    </style>
</head>





<body style="border-style: solid; border-color: purple; border-width:  20px;">






    <nav class="navbar navbar-expand-lg navbar-light" style="border-style: solid; border-color: red;">
      <a class="navbar-brand" href="#">
        <img src="./static/images/mmf_logo_bw-nobg.png" height="225" alt="" style="border-style: solid; border-color: pink; border-width:  5px;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse justify-content-end" id="navbarTogglerDemo01" style="border-style: solid; border-color: brown; border-width:  5px;">
          <div class="navbar-nav">
              <a class="nav-link active" style="border-style: solid; border-color: rgb(0, 255, 255);" href="#">Home</a>
              <a class="nav-link active" style="border-style: solid; border-color: rgb(62, 235, 62);" href="#">Services</a>
              <a class="nav-link active" style="border-style: solid; border-color: rgb(88, 104, 208);" href="#">Gallery</a>
              <a class="nav-link active" style="border-style: solid; border-color: rgb(222, 51, 170);" href="#">About</a>
          </div>
      </div>
    </nav>







  <div class="container-fluid" style="border-style: solid; border-color: green;">


  
    <div class="container" style="height: 5000px; border-style: solid; border-color: aqua; background-color: antiquewhite;">
        <!-- Content here -->

      <div class="row">
        <div class="col"></div>
        <img src="./static/images/ang2025-01-09 00_42_52.jpeg" alt="" class="img-fluid">
      </div>

      <div class="row" style="border-style: solid; border-color: red;">
        <section>
           <h1 class="text-center" style="margin-top: 100px; border-style: solid; border-color: rgb(255, 242, 0);">Mad Maple Farm</h1>
        </section>
      </div>

    <div class="row">

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <p>
              Welcome to Mad Maple Farm, our premier hunter jumping horse business, where decades of experience and a passion for
              excellence converge. Our journey in the horse industry has been shaped by working with some of the most prestigious
              trainers, allowing us to develop a deep understanding and expertise in equestrian sports.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <p>
              Welcome to Mad Maple Farm, our premier hunter jumping horse business, where decades of experience and a passion for
              excellence converge. Our journey in the horse industry has been shaped by working with some of the most prestigious
              trainers, allowing us to develop a deep understanding and expertise in equestrian sports.
            </p>
          </div>
        </div>
      </div>

    </div>


    <div class="row">

      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <p>
              Welcome to Mad Maple Farm, our premier hunter jumping horse business, where decades of experience and a passion for
              excellence converge. Our journey in the horse industry has been shaped by working with some of the most prestigious
              trainers, allowing us to develop a deep understanding and expertise in equestrian sports.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <p>
              Welcome to Mad Maple Farm, our premier hunter jumping horse business, where decades of experience and a passion for
              excellence converge. Our journey in the horse industry has been shaped by working with some of the most prestigious
              trainers, allowing us to develop a deep understanding and expertise in equestrian sports.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <p>
              Welcome to Mad Maple Farm, our premier hunter jumping horse business, where decades of experience and a passion for
              excellence converge. Our journey in the horse industry has been shaped by working with some of the most prestigious
              trainers, allowing us to develop a deep understanding and expertise in equestrian sports.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <p>
              Welcome to Mad Maple Farm, our premier hunter jumping horse business, where decades of experience and a passion for
              excellence converge. Our journey in the horse industry has been shaped by working with some of the most prestigious
              trainers, allowing us to develop a deep understanding and expertise in equestrian sports.
            </p>
          </div>
        </div>
      </div>

    </div>


    <div class="row">

      <div class="col-med-4">
        <div class="card">
          <div class="card-body">
            <p>
              Welcome to Mad Maple Farm, our premier hunter jumping horse business, where decades of experience and a passion for
              excellence converge. Our journey in the horse industry has been shaped by working with some of the most prestigious
              trainers, allowing us to develop a deep understanding and expertise in equestrian sports.
            </p>
          </div>
        </div>
      </div>

      <div class="col-med-4">
        <div class="card">
          <div class="card-body">
            <p>
              Welcome to Mad Maple Farm, our premier hunter jumping horse business, where decades of experience and a passion for
              excellence converge. Our journey in the horse industry has been shaped by working with some of the most prestigious
              trainers, allowing us to develop a deep understanding and expertise in equestrian sports.
            </p>
          </div>
        </div>
      </div>

      <div class="col-med-4">
        <div class="card">
          <div class="card-body">
            <p>
              Welcome to Mad Maple Farm, our premier hunter jumping horse business, where decades of experience and a passion for
              excellence converge. Our journey in the horse industry has been shaped by working with some of the most prestigious
              trainers, allowing us to develop a deep understanding and expertise in equestrian sports.
            </p>
          </div>
        </div>
      </div>

    </div>


    </div>


</div>





    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-style: solid; border-color: red;">
      <a class="navbar-brand" href="#">
        <img src="./static/images/mmf_logo_wob_nobg.png" height="225" alt="" style="border-style: solid; border-color: pink; border-width:  5px;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse justify-content-end" id="navbarTogglerDemo01" style="border-style: solid; border-color: brown; border-width:  5px;">
          <div class="navbar-nav">
              <a class="nav-link active" style="border-style: solid; border-color: rgb(0, 255, 255);" href="#">Home</a>
              <a class="nav-link active" style="border-style: solid; border-color: rgb(62, 235, 62);" href="#">Services</a>
              <a class="nav-link active" style="border-style: solid; border-color: rgb(88, 104, 208);" href="#">Gallery</a>
              <a class="nav-link active" style="border-style: solid; border-color: rgb(222, 51, 170);" href="#">About</a>
          </div>
      </div>
    </nav>



    
</body>
</html>