


@font-face {
  font-family: itc-stone-sans-std-semibold;
  src: url("/static/styles/ITC-Stone-Sans-Std-Semibold.otf") format("opentype");
}


* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: itc-stone-sans-std-semibold;

}


.center_photo {
  width:60%; 
  /* padding-top: 100px; */
  padding-bottom: 100px;

  display:block;
  margin:auto;
  
  display:flex;
  align-items: center;  
  justify-content: center;
}

.page-img {
  position: relative;
  height: 100vh;
  width: 100%;
  /* background-image: url('../images/ang2025-01-09\ 00_42_52.jpeg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-color:rgba(0,0,0,0.4)
  /* border-style: solid;
  border-color: blue; */
}

.noDecoration, a:link, a:visited {
  text-decoration: none;
  color: black;
}

ul{
  list-style: none;
}

.nav{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  /* border-style: solid;
  border-color: green; */
}

.logo{

  height: 175px;
  padding-bottom: 10px;
  margin-left: 20px;
  /* border-style: solid;
  border-color: pink; */
}

.links{
display: flex;
column-gap: 10px;
margin-right: 50px  ;
font-size:large;
font-family: sans-serif;
/* border-style: solid;
border-color: rgb(25, 128, 141); */

}

.link-item{


}

.container{
  background-color:white;
  padding-bottom: 100px;
  padding-top: 100px;
  /* border-style: solid;
  border-color: powderblue; */
}



.background{
  background-image: url('../images/mmf_pattern_supersmall_bw.png');
  /* border-style: solid;
  border-color: orange; */
}

.cards {
  display:flex;
}

.welcome_title{
  display:flex;
  align-items: center;  
  justify-content: center;
}

.quote_text{
  font-weight: 100;
  font-style: italic;
  display:flex;
  align-items: center;  
  justify-content: center;
}